<div>
  <h3>{{ department.name }}</h3>
  <br />
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Дата добавления</th>
      <th>Дата изменения информации</th>
      <th>Дата принятия на работу</th>
      <th>Должность</th>
      <th>Отдел</th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let worker of department.workers">
      <td>{{ worker.name }}</td>
      <td>{{ worker.dateOfCreation | date: 'dd/MM/yyyy' }}</td>
      <td>{{ worker.dateOfEdit | date: 'dd/MM/yyyy' }}</td>
      <td>{{ worker.dateOfEmployement | date: 'dd/MM/yyyy' }}</td>
      <td>{{ worker.post }}</td>
      <td>{{ worker.department.name }}</td>
      <td>
        <button class="btn btn-primary" (click)="delete(worker.id)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
