<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Название отдела</th>
        <th>Дата добавления</th>
        <th>Дата обновления</th>
        <th>
          <a routerLink="/departments/create">
            <i class="fas fa-plus"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of departments">
        <td>
          <a routerLink="/departments/department/{{department.id}}">{{ department.name }}</a>
        </td>
        <td>{{ department.dateOfCreation | date: 'dd/MM/yyyy' }}</td>
        <td>{{ department.dateOfEdit | date: 'dd/MM/yyyy' }}</td>
        <button class="btn btn-primary" (click)="delete(department.id)">
          <i class="fas fa-trash"></i>
        </button>

        <button class="btn btn-primary" routerLink="/departments/{{department.id}}/update">
          <i class="fas fa-edit"></i>
        </button>
      </tr>
    </tbody>
  </table>
</div>
